// PSEUDO CODE
    // Fonts
    // contact and blog share h1, h2 styling
    // main h1 is same blog/contact h2
    // h3,h4, h5+ styled same as contact with different sizes? review


    // navs all styled the same except underline/border-bottom

    // could I write variable or mixup for the box shadows?


    // FONTS
    $kumar-outline: 'Kumar One Outline', cursive;
    $kumar: 'Kumar One', cursive;
    $lato: 'Lato', sans-serif;
    // these are probably not the best use of variables, but this is an experiment! 

    // COLORS
    $bright-yellow: #f8fb05;
    $evergreen: #065635;
    $white: #f5f5f5;
    $ice: #E0FDDF;
    $black: #151514;
    // also probably not super required 

    // MIXINS
    @mixin heading-outline() {
        font-family: $kumar-outline;
        font-size: 68px;
        line-height: 64px;
        font-weight: 400;
        text-transform: uppercase;
    }

    @mixin heading-regular() {
        font-family: $kumar;
        font-size: 33px;
        line-height: 58px;
        letter-spacing: 2.1px;
        font-weight: 400;
        text-transform: uppercase;
    }

    @mixin logo() {
        font-family: $kumar;
        font-size: 22px;
        line-height: 24px;
        letter-spacing: 1.2px;
        font-weight: 400;
        text-transform: uppercase;
    }

    @mixin nav-text {
        font-family: $lato;
        font-size: 20px;
        line-height: 29px;
        letter-spacing: 1.4px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        list-style-type: none;
        // what does center in the style guide mean?
    }
    
    @mixin button-text {
        font-family: $kumar;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 1px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
    }

    @mixin body-text {
        font-family: $lato;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 2px;
        font-weight: 400;
    }

    @mixin wrapper {
        max-width: 1280px;
        width: 90%;
        margin: 0 auto;
    }

    // try mixin for pseudo elements! 



    // testing below