@import 'setup';
@import 'variables';

// GENERAL STYLES

.wrapper {
    @include wrapper;
}

.menu-underline {
    border-bottom: $bright-yellow 3px solid;
}

.copyright {
    @include body-text;
    margin: 0%;
    padding: 5px;
    text-align: center;
    color: $white;
}

.heading-regular{
    @include heading-regular;
}

p {
    @include body-text;
}
// make sure footer p has copyright class for all html pages


// BIG REMINDER
// ORGANIZE THIS FILE AS YOU GO
// THIS IS A CONFUSING MESS RIGHT NOW

// HEADER STYLES

// change this to header at some point
.index-header {
    background-image: url(/Assets/header-home.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    // height: 60vh;
    // this appears to not work. smushes from below!
    background-position: center;
}

.index-body{
    background-color: $white;
}

.index-header-image {
    max-width: 2500px;
    margin: 0 auto;
}

.heading-outline {
    @include heading-outline;
}

.discover-image-container img{
    @include box-shadow-left;
}
// .index-main {
//     background-color: $white;
// }

.button {
    @include button-style;
}

// MAIN INDEX STYLES

.discover-container {
    display: flex;
    justify-content: space-between;
    margin: 60px 0px;
    padding-bottom: 40px;
    .discover-text-container {
        width: 69%;
            p {
                padding-bottom: 20px;
                padding-right: 45px;
            }
            h2 {
                padding-right: 25px;
            }
    }
}

// .discover-text-container p {
//     padding-bottom: 20px;
// }

.gallery-one {
    background-color: $ice;
}

.gallery-one-grid-container {
    // is this container really needed, could I do this all on the section?
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 80px 0px;
    .gallery-one-grid-item {
        justify-self: center;
    }
    img {
        width: 100%;
    }
}

.fas {
    @include font-awesome-style;
}

ul {
    list-style: none;
}

.grid-list {
    display: grid;
    grid: auto-flow / 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 60px 0px;
}

.grid-item {
    grid-column: span 2;
}


// gallery-two

.gallery-two {
    background-color: $ice;
}

.large-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 100px;
    max-width: 1600px;
    margin: 0 auto;
}

.gallery-two-image-top {
    width: 100%;
    @include box-shadow-right;
    position: relative;
    top: -32px;
    
}

.gallery-two-text {
    text-align: left;
    padding-top: 145px;
    padding-right: 175px;
        p {
            padding-bottom: 20px;
        }
}

.gallery-two-image-bottom {
    grid-column: 2;
    width: 100%;
    @include box-shadow-left;
    position: relative;
    top: 55px;
}

.gallery-two-text-bottom {
    grid-row: 2;
    padding-left: 175px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: right;
        p {
            padding-bottom: 20px;
        }
}

// index aside

    // .index-aside {
    //     background-image: url(/Assets/banner-image.jpg);
    //     width: 100%;
    //     height: 100%;
    //     background-size: cover;
    //     background-repeat: no-repeat;
    //     // height: 60vh;
    //     // this appears to not work. smushes from below!
    //     background-position: center;
    // }

.banner-image {
    display: flex;
    justify-content: center;
    max-width: 1600px;
    margin: 0 auto;
        img {
            width: 100%;
        }
}

.search-text-container {
    text-align: center;
    padding: 150px;
        p {
            padding-bottom: 20px;
            text-align: left;
        }
}

// CONTACT STYLES

.contact-body {
    background-color: $ice;
}

.fa-brands {
    font-size: 10px;
}

form {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    width: 60%;
    background-color: $white;
    @include box-shadow-right;
}

input[type=text] {
    grid-row: 1;
    grid-column: 1 / 2;
    width: 100%;
    @include remove-box-border;
}

input[type=email] {
    grid-row: 1;
    grid-column: 2 / 3;
    width: 100%;
    @include remove-box-border;
}


textarea {
    grid-row: 2;
    grid-column: 1 / 3;
    width: 100%;
    resize: none;
}
// does not work

// #comment {
//     grid-column: 1 / 3;
// }

form .button {
    @include button-style;
    grid-row: 3;
    grid-column: 1 / 3;
    @include remove-box-border
}


// .form-grid {
//     // display: grid;
//     // grid: auto-flow/1fr 1fr 1fr 1fr;
//     background-color: $white;
//     max-width: 1;
// }

.social-container {
    display: flex;
    
}

.side-menu {
    @include nav-text;
    text-transform: none;
    font-weight: 400;
    text-align: left;
        a {
            text-decoration: none;
        }
}

// .gallery-two-top,
// .gallery-two-bottom {
//     display: flex;
//     justify-content: space-between;
// }

// .gallery-two-text-container {
//             width: 30%;
//         }

// .gallery-two-top img {
//     box-shadow: 17px 22px $bright-yellow;
// }

// .gallery-two-bottom {
//     flex-direction: row-reverse;
//     text-align: right;
//         img {
//             box-shadow: -17px 22px $bright-yellow;
//         }
// }

.contact-header {
    background-image: url(/Assets/contact-image.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    background-position: center;
}

.contact-main {
    display: grid;
    grid-template-columns: 70% 30%;
}

.contact-flex-container {
    display: flex;
    justify-content: space-between;
}

// Above is perfect, but want to try as mixin. Mixin is made made is called hero-image. have to figure out how to use variable in my 

// blog styles

.blog-header {
    background-image: url(/Assets/blog-image.jpg);
    width: 100%;
    height: 34vh;
    background-size: cover;
    background-repeat: no-repeat;
    // height: 60vh;
    // this appears to not work. smushes from below!
    background-position: center;
}

.new-space-container {
    // background-color: $bright-yellow;
    @include box-shadow-right;
    width: 80%;
        img {
            width: 100%;
            @include box-shadow-right;
            position: relative;
            right: 10px;
        }
}

.date {
    font-style: italic;
}



.blog-flex-container {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    top: -135px;
    // right: -15px;
    // review later
}

.blog-main {
    background-color: $ice;
}

.new-space-text-container {
    background-color: $white;
    max-width: 1600px;
    padding: 40px 55px 15px 100px;
}

.sidebar {
    width: 30%;
    align-self: center;
    background-color: $bright-yellow;
    padding: 0px 15px 15px 13px;
    position: relative;
    right: -15px;
        img {
            position: relative;
            right: -12px;
            top: -15px;
            width: 100%
        }
        ul {
            @include body-text;
            list-style-type: disc;
        }
}

.sidebar-text-container {
    background-color: $bright-yellow;
    @include box-shadow-left;
    padding: 10px;
}




.top-text-container {
    display: flex;
    justify-content: space-between
}

.article-container,
.form-container {
    width: 58%;
    padding: 0px 0px 0px 100px;
    margin: none;
}

.form-container {
    background-color: $ice;
}


.comment-flex-container {
    display: flex;
}

.comment-image-container {
        width: 100%;
}

.comment-text-container h5 {
    @include body-text;
    font-weight: 700;
}

.logo {
    @include logo;
    width: 20%; 
    padding: 10px;
    // above may not be needed?
}



// considering changing selector! 
.top-menu {
    @include nav-text;
    display: flex;
    flex-direction: row;
    li a {
        padding: 15px;
        margin: 5px;
        text-decoration: none;
        color: $black;
    }
}

footer {
    background-color: $black;
    margin-top: 10px;
    p {
        margin: 10px;
    }
}





// MEDIA QUERIES 

@media (max-width: 1250px) {
    .large-wrapper {
        gap: 30px;
    }
    .gallery-two-text,
    .gallery-two-text-bottom{
        padding: 35px;
    }
}

@media (max-width: 1050px) {
    .top-text-container {
        flex-direction: column;
    }
    
}

@media (max-width: 850px) {
    .index-header-image img {
        width: 100%;
    }
}

@media (max-width: 780px) {
    .discover-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 10px 0px;
            a {
                margin-top: 50px;
                text-align: center;
            }
            
            p {
                text-align: left;
            }
    }

    .discover-image-container {
        margin-top: 40px
    }

    .discover-text-container {
        h2{
            padding: 0px;
        }
        p {
            padding: 0px 0px 10px 0px;
        }
        // why doesn't this work
    }

    .gallery-two-text,
    .gallery-two-text-bottom,
    .gallery-two-image-top,
    .gallery-two-image-bottom {
        align-self: center;
        position: initial;
    }

    .large-wrapper {
        display: flex;
        flex-direction: column;
        @include wrapper
    }

    .search-text-container {
        padding: 75px 15px;
    }
}

@media (max-width: 670px) {
    .gallery-one-grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 30px 0px;
        row-gap: 15px;
    }

    .grid-list {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        text-align: center;
        padding-top: 25px;
        padding: 0;
            ul {
                margin: 0;
                padding: 0;
                // padding-top: 20px;
            }
    }
}

@media (max-width: 535px) {

    .heading-outline {
        font-size: 40px;
        line-height: 55px;

    }

    .heading-regular {
        font-size: 25px;
        line-height: 40px;
    }

    .fas {
        margin-bottom: 10px;
    }

    .top-menu {
        display: none;
    }
}

@media (max-width: 350px) {
    .discover-container a {
        padding: 0;
    }
}


// BLOG MEDIA QUERIES 
// @media (max-width: 1250px)
