html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

.menu-underline {
  border-bottom: #f8fb05 3px solid;
}

.copyright {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 0%;
  padding: 5px;
  text-align: center;
  color: #f5f5f5;
}

.heading-regular {
  font-family: "Kumar One", cursive;
  font-size: 33px;
  line-height: 58px;
  letter-spacing: 2.1px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 2px;
  font-weight: 400;
}

.index-header {
  background-image: url(/Assets/header-home.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.index-body {
  background-color: #f5f5f5;
}

.index-header-image {
  max-width: 2500px;
  margin: 0 auto;
}

.heading-outline {
  font-family: "Kumar One Outline", cursive;
  font-size: 68px;
  line-height: 64px;
  font-weight: 400;
  text-transform: uppercase;
}

.discover-image-container img {
  -webkit-box-shadow: -17px 22px #f8fb05;
          box-shadow: -17px 22px #f8fb05;
}

.button {
  font-family: "Kumar One", cursive;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #f5f5f5;
  text-decoration: none;
  padding: 10px;
  background-color: #065635;
  border: 1px solid #151514;
}

.discover-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 60px 0px;
  padding-bottom: 40px;
}
.discover-container .discover-text-container {
  width: 69%;
}
.discover-container .discover-text-container p {
  padding-bottom: 20px;
  padding-right: 45px;
}
.discover-container .discover-text-container h2 {
  padding-right: 25px;
}

.gallery-one {
  background-color: #E0FDDF;
}

.gallery-one-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 80px 0px;
}
.gallery-one-grid-container .gallery-one-grid-item {
  justify-self: center;
}
.gallery-one-grid-container img {
  width: 100%;
}

.fas {
  font-size: 40px;
  background-color: #f8fb05;
  font-size: 30px;
  padding: 15px;
  border-radius: 80%;
}

ul {
  list-style: none;
}

.grid-list {
  display: grid;
  grid: auto-flow/1fr 1fr 1fr 1fr;
  gap: 20px;
  padding: 60px 0px;
}

.grid-item {
  grid-column: span 2;
}

.gallery-two {
  background-color: #E0FDDF;
}

.large-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 100px;
  max-width: 1600px;
  margin: 0 auto;
}

.gallery-two-image-top {
  width: 100%;
  -webkit-box-shadow: 17px 22px #f8fb05;
          box-shadow: 17px 22px #f8fb05;
  position: relative;
  top: -32px;
}

.gallery-two-text {
  text-align: left;
  padding-top: 145px;
  padding-right: 175px;
}
.gallery-two-text p {
  padding-bottom: 20px;
}

.gallery-two-image-bottom {
  grid-column: 2;
  width: 100%;
  -webkit-box-shadow: -17px 22px #f8fb05;
          box-shadow: -17px 22px #f8fb05;
  position: relative;
  top: 55px;
}

.gallery-two-text-bottom {
  grid-row: 2;
  padding-left: 175px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: right;
}
.gallery-two-text-bottom p {
  padding-bottom: 20px;
}

.banner-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1600px;
  margin: 0 auto;
}
.banner-image img {
  width: 100%;
}

.search-text-container {
  text-align: center;
  padding: 150px;
}
.search-text-container p {
  padding-bottom: 20px;
  text-align: left;
}

.contact-body {
  background-color: #E0FDDF;
}

.fa-brands {
  font-size: 10px;
}

form {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  width: 60%;
  background-color: #f5f5f5;
  -webkit-box-shadow: 17px 22px #f8fb05;
          box-shadow: 17px 22px #f8fb05;
}

input[type=text] {
  grid-row: 1;
  grid-column: 1/2;
  width: 100%;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: solid;
}

input[type=email] {
  grid-row: 1;
  grid-column: 2/3;
  width: 100%;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: solid;
}

textarea {
  grid-row: 2;
  grid-column: 1/3;
  width: 100%;
  resize: none;
}

form .button {
  font-family: "Kumar One", cursive;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #f5f5f5;
  text-decoration: none;
  padding: 10px;
  background-color: #065635;
  border: 1px solid #151514;
  grid-row: 3;
  grid-column: 1/3;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: solid;
}

.social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.side-menu {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 1.4px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  list-style-type: none;
  text-transform: none;
  font-weight: 400;
  text-align: left;
}
.side-menu a {
  text-decoration: none;
}

.contact-header {
  background-image: url(/Assets/contact-image.jpg);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
  background-position: center;
}

.contact-main {
  display: grid;
  grid-template-columns: 70% 30%;
}

.contact-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog-header {
  background-image: url(/Assets/blog-image.jpg);
  width: 100%;
  height: 34vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.new-space-container {
  -webkit-box-shadow: 17px 22px #f8fb05;
          box-shadow: 17px 22px #f8fb05;
  width: 80%;
}
.new-space-container img {
  width: 100%;
  -webkit-box-shadow: 17px 22px #f8fb05;
          box-shadow: 17px 22px #f8fb05;
  position: relative;
  right: 10px;
}

.date {
  font-style: italic;
}

.blog-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
  top: -135px;
}

.blog-main {
  background-color: #E0FDDF;
}

.new-space-text-container {
  background-color: #f5f5f5;
  max-width: 1600px;
  padding: 40px 55px 15px 100px;
}

.sidebar {
  width: 30%;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: #f8fb05;
  padding: 0px 15px 15px 13px;
  position: relative;
  right: -15px;
}
.sidebar img {
  position: relative;
  right: -12px;
  top: -15px;
  width: 100%;
}
.sidebar ul {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 2px;
  font-weight: 400;
  list-style-type: disc;
}

.sidebar-text-container {
  background-color: #f8fb05;
  -webkit-box-shadow: -17px 22px #f8fb05;
          box-shadow: -17px 22px #f8fb05;
  padding: 10px;
}

.top-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.article-container,
.form-container {
  width: 58%;
  padding: 0px 0px 0px 100px;
  margin: none;
}

.form-container {
  background-color: #E0FDDF;
}

.comment-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comment-image-container {
  width: 100%;
}

.comment-text-container h5 {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 2px;
  font-weight: 400;
  font-weight: 700;
}

.logo {
  font-family: "Kumar One", cursive;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 1.2px;
  font-weight: 400;
  text-transform: uppercase;
  width: 20%;
  padding: 10px;
}

.top-menu {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 1.4px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.top-menu li a {
  padding: 15px;
  margin: 5px;
  text-decoration: none;
  color: #151514;
}

footer {
  background-color: #151514;
  margin-top: 10px;
}
footer p {
  margin: 10px;
}

@media (max-width: 1250px) {
  .large-wrapper {
    gap: 30px;
  }

  .gallery-two-text,
.gallery-two-text-bottom {
    padding: 35px;
  }
}
@media (max-width: 1050px) {
  .top-text-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 850px) {
  .index-header-image img {
    width: 100%;
  }
}
@media (max-width: 780px) {
  .discover-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: 10px 0px;
  }
  .discover-container a {
    margin-top: 50px;
    text-align: center;
  }
  .discover-container p {
    text-align: left;
  }

  .discover-image-container {
    margin-top: 40px;
  }

  .discover-text-container h2 {
    padding: 0px;
  }
  .discover-text-container p {
    padding: 0px 0px 10px 0px;
  }

  .gallery-two-text,
.gallery-two-text-bottom,
.gallery-two-image-top,
.gallery-two-image-bottom {
    -ms-flex-item-align: center;
        align-self: center;
    position: initial;
  }

  .large-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
  }

  .search-text-container {
    padding: 75px 15px;
  }
}
@media (max-width: 670px) {
  .gallery-one-grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 30px 0px;
    row-gap: 15px;
  }

  .grid-list {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    text-align: center;
    padding-top: 25px;
    padding: 0;
  }
  .grid-list ul {
    margin: 0;
    padding: 0;
  }
}
@media (max-width: 535px) {
  .heading-outline {
    font-size: 40px;
    line-height: 55px;
  }

  .heading-regular {
    font-size: 25px;
    line-height: 40px;
  }

  .fas {
    margin-bottom: 10px;
  }

  .top-menu {
    display: none;
  }
}
@media (max-width: 350px) {
  .discover-container a {
    padding: 0;
  }
}