html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

.menu-underline {
  border-bottom: yellow 3px solid;
}

.copyright {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 0%;
  padding: 5px;
  text-align: center;
  color: #f5f5f5;
}

.heading-regular {
  font-family: "Kumar One", cursive;
  font-size: 33px;
  line-height: 58px;
  letter-spacing: 2.1px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 2px;
  font-weight: 400;
}

.index-header {
  background-image: url(/Assets/header-home.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.index-body {
  background-color: #f5f5f5;
}

.heading-outline {
  font-family: "Kumar One Outline", cursive;
  font-size: 68px;
  line-height: 64px;
  font-weight: 400;
  text-transform: uppercase;
}

.button {
  font-family: "Kumar One", cursive;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #f5f5f5;
  text-decoration: none;
  padding: 10px;
  background-color: #065635;
  border: 1px solid #151514;
}

.discover-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 60px 0px;
}
.discover-container .discover-text-container {
  width: 69%;
}

.gallery-one {
  background-color: #E0FDDF;
}

.gallery-one-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 80px 0px;
}
.gallery-one-grid-container .gallery-one-grid-item {
  justify-self: center;
}

.fas {
  font-size: 40px;
  background-color: #f8fb05;
  font-size: 30px;
  padding: 15px;
  border-radius: 80%;
}

ul {
  list-style: none;
}

.grid-list {
  display: grid;
  grid: auto-flow/1fr 1fr 1fr 1fr;
  gap: 20px;
}

.grid-item {
  grid-column: span 2;
}

.gallery-two {
  background-color: #E0FDDF;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 100px;
}

.gallery-two-image {
  width: 100%;
}

.gallery-two-image-bottom {
  grid-column: 2;
}

.gallery-two-text-bottom {
  grid-row: 2;
}

.index-aside {
  text-align: center;
}

.contact-body {
  background-color: #E0FDDF;
}

.blog-header {
  background-image: url(/Assets/blog-image.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 200px;
}

.blog-main {
  background-color: #E0FDDF;
}

.sidebar-text-container {
  background-color: #f8fb05;
}

.sidebar img {
  -webkit-box-shadow: -17px 22px #f8fb05;
          box-shadow: -17px 22px #f8fb05;
}

.top-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  font-family: "Kumar One", cursive;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 1.2px;
  font-weight: 400;
  text-transform: uppercase;
  width: 20%;
  padding: 10px;
}

.top-menu {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 1.4px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.top-menu li a {
  padding: 15px;
  margin: 5px;
  text-decoration: none;
  color: #151514;
}

footer {
  background-color: #151514;
  margin-top: 10px;
}
footer p {
  margin: 10px;
}